@tailwind base;
@tailwind components;
@tailwind utilities;
.image{
  border-radius: 50%;
}
.container{
  background-color: aqua;
  padding: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:45%;
  background-color: beige;
  margin: auto;
  padding: 10px;
}
.hobbies{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.hoby{
  background-color: aqua;
  padding: 10px;
}
.footer {
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-size: 14px;
}